:root {
    --base-white: #eee5e9;
    --base-brown: #E07A5F;
    --light-green: #A7C957;
    --mid-green
}

* {
    background-color: #000000;
}

a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.menu-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #482DE1;
}